syntax: glob
*.o
*.d
*.swp
*.a
*~
tags
*gmon.out

distorm
llvm
protobuf-c
protobuf

qemu/QMP/qmp-commands.txt
qemu/config-all-devices.mak
qemu/config-host.h
qemu/config-host.h-timestamp
qemu/config-host.ld
qemu/config-host.mak
qemu/config.log
qemu/libdis-user/Makefile
qemu/libdis-user/config.mak
qemu/libdis/Makefile
qemu/libdis/config.mak
qemu/libhw32/Makefile
qemu/libhw32/config.mak
qemu/libhw64/Makefile
qemu/libhw64/config.mak
qemu/libuser/Makefile
qemu/libuser/trace.c
qemu/libuser/trace.c-timestamp
qemu/linux-headers/asm
qemu/pc-bios/optionrom/linuxboot.bin
qemu/pc-bios/optionrom/multiboot.bin
qemu/qapi-generated/qga-qapi-types.c
qemu/qapi-generated/qga-qapi-types.h
qemu/qapi-generated/qga-qapi-visit.c
qemu/qapi-generated/qga-qapi-visit.h
qemu/qapi-generated/qga-qmp-commands.h
qemu/qapi-generated/qga-qmp-marshal.c
qemu/qapi-types.c
qemu/qapi-types.h
qemu/qapi-visit.c
qemu/qapi-visit.h
qemu/qemu-doc.html
qemu/qemu-ga
qemu/qemu-img
qemu/qemu-img-cmds.h
qemu/qemu-img-cmds.texi
qemu/qemu-img.1
qemu/qemu-img.pod
qemu/qemu-io
qemu/qemu-monitor.texi
qemu/qemu-nbd
qemu/qemu-nbd.8
qemu/qemu-nbd.pod
qemu/qemu-options.def
qemu/qemu-options.texi
qemu/qemu-tech.html
qemu/qemu.1
qemu/qemu.pod
qemu/qmp-commands.h
qemu/qmp-marshal.c
qemu/roms/seabios/config.mak
qemu/roms/vgabios/config.mak
qemu/scripts/ordereddict.pyc
qemu/scripts/qapi.pyc
qemu/trace.c
qemu/trace.c-timestamp
qemu/trace.h
qemu/trace.h-timestamp
qemu/i386-linux-user/
qemu/i386-softmmu/
qemu/x86_64-linux-user/
qemu/arm-linux-user/
qemu/arm-softmmu/
qemu/x86_64-softmmu/
qemu/install/*
qemu/panda/pandalog.pb-c.*
qemu/panda_plugins/*/*_ext.h

qemu/panda_plugins/syscalls/gen_syscall_ppp_boilerplate.cpp
qemu/panda_plugins/syscalls/gen_syscall_ppp_register.cpp
qemu/panda_plugins/syscalls/gen_syscall_printer.cpp
qemu/panda_plugins/syscalls/gen_syscalls_ext_typedefs.h
qemu/panda_plugins/syscalls/gen_callbacks.hpp
qemu/panda_plugins/syscalls/gen_default_callbacks.cpp
qemu/panda_plugins/syscalls/proto_printer.cpp
