[submodule "roms/vgabios"]
	path = roms/vgabios
	url = https://git.qemu.org/git/vgabios.git
[submodule "roms/seabios"]
	path = roms/seabios
	url = https://git.qemu.org/git/seabios.git
[submodule "roms/SLOF"]
	path = roms/SLOF
	url = https://git.qemu.org/git/SLOF.git
[submodule "roms/ipxe"]
	path = roms/ipxe
	url = https://git.qemu.org/git/ipxe.git
[submodule "roms/openbios"]
	path = roms/openbios
	url = https://git.qemu.org/git/openbios.git
[submodule "roms/openhackware"]
	path = roms/openhackware
	url = https://git.qemu.org/git/openhackware.git
[submodule "roms/qemu-palcode"]
	path = roms/qemu-palcode
	url = https://github.com/rth7680/qemu-palcode.git
[submodule "roms/sgabios"]
	path = roms/sgabios
	url = https://git.qemu.org/git/sgabios.git
[submodule "pixman"]
	path = pixman
	url = https://anongit.freedesktop.org/git/pixman
[submodule "dtc"]
	path = dtc
	url = https://git.qemu.org/git/dtc.git
[submodule "roms/u-boot"]
	path = roms/u-boot
	url = https://git.qemu.org/git/u-boot.git
[submodule "roms/skiboot"]
	path = roms/skiboot
	url = https://git.qemu.org/git/skiboot.git
