# The following are required to run some of our examples, but are not required for
# pypanda and (as such), are not installed by default with setup.py.
# Install with pip install -r requirements.txt

scapy
numpy
pyelftools
capstone
