Source: panda-re
Maintainer: PANDA panda@panda.re
Standards-Version: 4.0.0
Homepage: https://github.com/panda-re/panda
Priority: optional
Build-Depends: debhelper (>=10)

Package: panda-re
Architecture: amd64
Priority: optional
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Platform for Architecture-Neutral Dynamic Analysis
  PANDA is built upon the QEMU whole system emulator, and so analyses have 
  access to all code executing in the guest and all data. PANDA adds the 
  ability to record and replay executions, enabling iterative, deep, whole 
  system analyses. Further, the replay log files are compact and shareable, 
  allowing for repeatable experiments. A nine billion instruction boot of 
  FreeBSD, e.g., is represented by only a few hundred MB. PANDA leverages 
  QEMU's support of thirteen different CPU architectures to make analyses 
  of those diverse instruction sets possible within the LLVM IR. In this way, 
  PANDA can have a single dynamic taint analysis, for example, that precisely 
  supports many CPUs. PANDA analyses are written in a simple plugin architecture 
  which includes a mechanism to share functionality between plugins, increasing 
  analysis code re-use and simplifying complex analysis development.
