#!/usr/bin/make -f

DIST_DEPENDS = ""
ifeq ($(shell lsb_release -is), Ubuntu)
	DEP_FILE = "./panda/dependencies/ubuntu:$(shell lsb_release -rs)_base.txt"
	ifeq ($(shell test -e $(DEP_FILE) && echo -n yes), yes)
		DIST_DEPENDS = $(shell sed "/\#/d" $(DEP_FILE) | xargs -I {} printf "{}, ")
	endif
endif

%:
	dh $@

override_dh_auto_configure:
	./configure --prefix=/usr --enable-llvm

override_dh_auto_test:
	
override_dh_shlibdeps:
	dh_shlibdeps --dpkg-shlibdeps-params=--ignore-missing-info

override_dh_gencontrol:
	dh_gencontrol -- -Vdist:Depends="$(DIST_DEPENDS)"
