name: Docker Build - Incremental
# Clone latest pre-built docker container
# Checkout the relevant branch
# Run make in the build directory - Note we don't build from scratch

# Because this runs on push actions, we get $GITHUB_SHA and it's set correctly (unlike on PR)

on:
  push:
    branches-ignore: # A full clean build will run on pushes to master
      master

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - name: Fetch pre-built bionic docker container
      run: docker pull pandare/panda:latest

    - name: Download docker/update.sh script from this commit
      run: wget "https://raw.githubusercontent.com/panda-re/panda/${GITHUB_SHA}/panda/docker/update.sh"

    - name: Inside container run update.sh to fetch this commit and rebuild PANDA and run tests
      run: docker run --rm -v $(pwd)/update.sh:/update.sh pandare/panda bash /update.sh $GITHUB_SHA
