name: Build and Publish Docker Container and Pypanda Docs # Only for main panda-re repo, not forks

on:
  push:
    branches:
      - master

jobs:
  build:
    if: github.repository  == 'panda-re/panda' && "!contains(github.event.head_commit.message, 'no ci')"
    runs-on: self-hosted
    steps:
    - name: Checkout PANDA
      uses: actions/checkout@v1

    - name: Docker login
      run: docker login -u pandare -p ${{secrets.pandare_dockerhub}}

    - name: Build Bionic container
      run:  cd $GITHUB_WORKSPACE && docker build -t pandare/panda:latest .;
            docker tag  pandare/panda:latest pandare/panda:${GITHUB_SHA};
            docker push pandare/panda:${GITHUB_SHA};
            docker push pandare/panda:latest;

    - name: Checkout docs and reset
      run: rm -rf "${GITHUB_WORKSPACE}/auto_pydoc";
           git clone https://panda-jenkins-ci:${{ secrets.PANDABOT_GITHUB_API }}@github.com/panda-re/panda-re.github.io.git --branch=master ${GITHUB_WORKSPACE}/auto_pydoc/pandare

    - name: Update PYPANDA docs in container
      run: docker run --rm -v ${GITHUB_WORKSPACE}/auto_pydoc/:/out pandare/panda:latest /bin/sh -c "pip3 install pdoc3; cd /panda/panda/python/core; pdoc3 --html --force -o /out pandare"

    - name: Push PYPANDA docs to GitHub Pages if docs changed
      run: cd "${GITHUB_WORKSPACE}/auto_pydoc/pandare" &&
           git config --global user.email "panda-ci@panda-re.mit.edu" &&
           git config --global user.name "PANDA Bot" &&
           git add . &&
           git commit -m "Documentation update for PANDA commit ${{ github.sha  }}" &&
           git push || true
