name: Build and Publish Docker Container and Pypanda Docs # Only for main panda-re repo, not forks

on:
  push:
    branches:
      - dev
      - stable

jobs:
  build:
    if: github.repository  == 'panda-re/panda'
    runs-on: self-hosted
    steps:
    - name: Checkout PANDA
      uses: actions/checkout@v1

    - name: Docker login
      run: docker login -u pandare -p ${{secrets.pandare_dockerhub}}

    - name: Build Bionic container
      # Push both dev and regular container
      run:  DOCKER_BUILDKIT=1 docker build --progress=plain --target=panda -t pandare/panda:latest $GITHUB_WORKSPACE;
            docker tag  pandare/panda:latest pandare/panda:${GITHUB_SHA};
            docker push pandare/panda:${GITHUB_SHA};
            docker push pandare/panda:latest;
            DOCKER_BUILDKIT=1 docker build --progress=plain --target=developer -t pandare/pandadev:latest $GITHUB_WORKSPACE;
            docker tag  pandare/pandadev:latest pandare/pandadev:${GITHUB_SHA};
            docker push pandare/pandadev:${GITHUB_SHA};
            docker push pandare/pandadev:latest;

    - name: Checkout docs and reset
      run: rm -rf "${GITHUB_WORKSPACE}/auto_pydoc";
           git clone https://panda-jenkins-ci:${{ secrets.PANDABOT_GITHUB_API }}@github.com/panda-re/panda-re.github.io.git --branch=master ${GITHUB_WORKSPACE}/auto_pydoc/pandare

    - name: Update PYPANDA docs in container
      run: docker run --rm -v ${GITHUB_WORKSPACE}/auto_pydoc/:/out pandare/pandadev:latest /bin/sh -c "pip3 install pdoc3; cd /panda/panda/python/core; pdoc3 --html --template-dir=../docs/template --force -o /out pandare"

    - name: Push PYPANDA docs to GitHub Pages if docs changed
      run: cd "${GITHUB_WORKSPACE}/auto_pydoc/pandare" && cp ../doc-search.html ../index.js . &&
           git config --global user.email "panda-ci@panda-re.mit.edu" &&
           git config --global user.name "PANDA Bot" &&
           git add . &&
           git commit -m "Documentation update for PANDA commit ${{ github.sha  }}" &&
           git push || true
