name: Docker Build - Incremental
# Clone latest pre-built docker container
# Checkout the relevant branch
# Run make in the build directory - Note we don't build from scratch

# Because this runs on push actions, we get $GITHUB_SHA and it's set correctly (unlike on PR)

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - name: Docker login # TODO: we need to get the pandare account on dockerhub or push to github
      run: docker login -u fasano -p ${{secrets.fasano_dockerhub}}
    - name: Fetch pre-built bionic docker container
      run: docker pull fasano/panda_bionic:latest
    - name: Download docker/update.sh script from this commit
      run: wget "https://raw.githubusercontent.com/panda-re/panda/${GITHUB_SHA}/panda/docker/update.sh"
    - name: Inside container run update.sh to fetch this commit and rebuild PANDA and run tests
      run: docker run --rm -v $(pwd)/update.sh:/update.sh fasano/panda_bionic bash /update.sh $GITHUB_SHA
